<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="screengrab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <screengrab.Properties.Settings>
            <setting name="Hotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyWithEdit" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadToDisk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptureWindowOpened" serializeAs="String">
                <value>False</value>
            </setting>
        </screengrab.Properties.Settings>
    </userSettings>
</configuration>